<!DOCTYPE html>
<html>
  <head>
    <title>Quiz2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src='../assets/javascripts/DOM.js'></script>
  </head>

  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Idea Factory</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <%= link_to("Ideas", ideas_path, class: "nav-item nav-link") %>

              <% if user_signed_in? %>
                <%= link_to("New Idea", new_idea_path, class: "nav-item nav-link") %>
              <% end %>

              <% if user_signed_in? %>
                <span class="navbar-text">Hello, <%= current_user.first_name %></span>
                <%= link_to("Sign out", session_path, method: :delete, class: "nav-item nav-link") %>
              <% else %>
                <%= link_to("Sign In", new_session_path, class: "nav-item nav-link") %>
                <%= link_to("Sign Up", new_user_path, class: "nav-item nav-link") %>
              <% end %>
            </div>
          </div>

        </nav>
    </header>
    <%= yield %>
  </body>
</html>
